body {
  font-family: 'Ubuntu', sans-serif;
}

/* Front-Page Color */
#title {
  background-color: #d8ebb5;
  font-family: 'Montserrat', sans-serif;
}

.container_fluid {
  padding: 2% 15%;
}

.nav-item {
  font-weight: bold;
  color: black;
  padding: 0 18px;
}

.download-button {
  margin: 0 5% 5% 0;
}

.rotate20 {
  width: 300px;
  height: 650px;
  padding-top: 90px;
  padding-left: 45px;
  transform: rotate(20deg);
  position: absolute;
}

.front_title {
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  line-height: 1.5;
  padding-top: 15%;
  padding-bottom: 10%;
}

@media (max-width: 982px) {
  .rotate20 {
    transform: rotate(0);
    position: static;
  }

  #title {
    text-align: center;
  }
}

.btn-custom {
  color: pink;
  font-size: 3.5rem;
  margin: auto;
  align-self: center;
}

.btn-xl {
  font-size: 3.5rem;
}

.item {
  padding: 6.5%;
}

/*---------------FEATURES------------*/
#features {
  text-align: center;
  background-color: white;
  position: relative;
}

.icon {
  color: #639a67;
  margin: auto;
}

.icon:hover {
  color: #2b580c;
  margin: auto;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

/*--------------Testimonials----------------*/
#testimonials {
  text-align: center;
  background-color: #d8ebb5;
  color: black;
}

.test {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: bolder;
}

.image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

/*--------PRESS-------*/
#press {
  background-color: #d8ebb5;
  padding-bottom: 3%;
  text-align: center;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 20px 50px;
}

/*---------Pricing---------*/
.btn-custom {
  width: 100%;
}

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
  /* 3% Top and Bottom and 2% left and right */
}

/* CTA Section */

#cta {
  width: 100%;
  height: 40%;
  background-color: #d8ebb5;
  text-align: center;
}

.end_sentence {
  padding: 7% 7% 6% 7%;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.5;
}

.down-button {
  margin: 0 4% 7% 0;
}

/* Footer Section */

#footer {
  width: 100%;
  text-align: center;
  height: 30%
}

.padding {
  margin-top: 7%;
}

.padder {
  padding-top: 2%;
  padding-bottom: 5%;
}
